# Logs
logs/
*.log

# Environment variables
.env

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Virtual Environments
.venv/*

# Python Version
.python-version

# Folders
data/*.parquet
data/clean
data/raw
data/clean/archived/hecm/
data/clean/archived/single_family/
output/*
data/database

__pycache__/*

# Deprecated Files
deprecated_functions.py
